<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Blog </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="blog.html" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span>Journey</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>

                <li><a class="getstarted scrollto" onclick="window.location.href='pages-login.html'">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">


            <h2><center>Posts</center></h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">



                        <h2 class="entry-title">
                            TO TRAVEL IS TO LIVE.
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"> Travel</li>
                            </ul>
                        </div>

                        <div class="entry-content">

                            <p>
                                Travelling is an amazing way to learn a lot of things in life. A lot of people around the world travel every year to many places. Moreover, it is important to travel to humans. Some travel to learn more while some travel to take a break from their life. No matter the reason, travelling opens a big door for us to explore the world beyond our imagination and indulge in many things.</p>
                            <div class="read-more">
                                <a href="single_post.html">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">



                        <h2 class="entry-title">
                            "The art of life is to know how to enjoy a little and to endure very much."
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"> Life</li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Life is a journey, not a destination. It’s the journey that matters. It’s the journey we all take to get where we want to be in life. It’s the journey that defines us and our success. Our lives are full of choices and decisions, but they are usually made by us alone. We make them for ourselves and for our loved ones, but in most cases we aren’t really aware of what we’re doing or why it’s important to us. It’s time to change that! There is no better way to learn about yourself than by taking meaningful steps towards your goals and dreams – with AI help!
                            </p>
                            <div class="read-more">
                                <a href="single_post.html">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">



                        <h2 class="entry-title">
                            “Waking up in India is like waking up to life itself.”
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"> India</li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                India is a land of various cultures and a rich heritage. It is the seventh-largest country by area and the second-most populous country globally. The peacock is India’s national bird, and the Bengal tiger is the country’s national animal. The national song is named Vande Matram (written by Bankimchandra Chatterji). The Indian national song was first performed at the Indian National Congress in 1896. ‘Jana Gana Mana,’ India’s national anthem, is sung in 52 seconds. The national flag of India is named Tiranga, which is made up of three colours: saffron, white, and green, with the Ashoka Chakra in navy blue in the centre.                </p>
                            <div class="read-more">
                                <a href="single_post.html">Read More</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->


                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">


                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="cat.html">First Category <span>(30)</span></a></li>
                                <li><a href="cat.html">Second Category<span>(12)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->




                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->





<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>